@import "tailwindcss";

@font-face {
  font-family: "KyoboHandwriting2024psw";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/KyoboHandwriting2024psw.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body {
  touch-action: manipulation; /* 터치 시 줌 막기 */
}

@theme {
  /* 색상 설정 */
  --color-primary: #9ebdc8;
  --color-secondary: #efe9d3;
  --color-tertiary: #ad8b73;
  --color-main: #334443;

  /* 폰트 설정 */
  --font-kyobo: "KyoboHandwriting2024psw";

  /* 애니메이션 설정 */
  --animate-float: float infinite ease-in-out 2s;
  --animate-fadeUp: fadeUp 1s ease-out forwards;
  --animate-fadeUpThenFloat: fadeUp 1s ease-out forwards, 2s float infinite ease-in-out 1.2s;
}
