@import "tailwindcss";

@font-face {
  font-family: "KyoboHandwriting2024psw";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/KyoboHandwriting2024psw.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@theme {
  /* 색상 설정 */
  --color-primary: #9ebdc8;
  --color-secondary: #efe9d3;

  /* 폰트 설정 */
  --font-kyobo: "KyoboHandwriting2024psw";

  /* 애니메이션 설정 */
  --animate-float: float infinite ease-in-out 2s;
}
